/*.card:hover {
    z-index: 2;
    
    transform: scale(2);
    margin-top: 50px;
    
  }
  */


   
  
/* .container {
  background-color: aqua;

 }
 */

  .card-img-top {
    width: 230px;
    height: 180px;
 }

 .modal-wrapper {
display: flex;
justify-content: center;
align-items: center;
height: 100%;
width: 100%;
top: 0;
left: 0;

position: absolute;
background: rgb(0, 0, 0, 0.3);
z-index: 3;
 }
 .custom-modal {
   
 
    background-color: white;
    position: relative;
    padding:30px 20px 20px 20px;
    border-radius: 10px;
    margin-top: 20px;
    
 }

 .hidden {
    display: none;
 }
 .btn-close {
position: absolute;
top: 2px;
right: 2px;
 }
 .send {
    width: 100%;
 }

 .error-msg {
   color: brown;
 }